@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model golf_league.ViewModels.ScoreCardViewModel

<div id="score-card">
    <table class="table-auto border-separate drop-shadow-2xl border-2 border-slate-900">
        <thead>
            <tr >
                <th class="border border-slate-500 text-white bg-green-700" colspan="3">Hole</th>
                @foreach(var item in Model.Holes.DistinctBy(h => h.Number))
                {
                    <th class="border border-slate-500 text-white bg-green-700">@item.Number</th>
                }
                <th class="border border-slate-500 text-white bg-green-700">Out</th>
                <th class="border border-slate-500 text-white bg-green-700">In</th>
                <th class="border border-slate-500 text-white bg-green-700">Total</th>
            </tr>
            @foreach(var tee in Model.Tees)
            {
                <tr>
                    @if (tee.Name == "Blue")
                    {
                        <th class="border border-slate-500 bg-blue-700 text-white" colspan="3">@tee.Name</th>
                    }
                    else if (tee.Name == "White")
                    {
                        <th class="border border-slate-500" colspan="3">@tee.Name</th>
                    }
                    else if (tee.Name == "Gold")
                    {
                        <th class="border border-slate-500 bg-yellow-500" colspan="3">@tee.Name</th>
                    }
                    
                    @foreach (var item in Model.Holes.Where(h => h.TeeId == tee.Id))
                    {
                        @if(tee.Name == "Blue")
                        {
                            <th class="border border-slate-500 bg-blue-700 text-white">@item.Length</th>
                        }
                        else if(tee.Name == "White")
                        {
                            <th class="border border-slate-500">@item.Length</th>
                        }
                        else if(tee.Name == "Gold")
                        {
                            <th class="border border-slate-500 bg-yellow-500">@item.Length</th>
                        }
                    }
                    @if (tee.Name == "Blue")
                    {
                        <th class="border border-slate-500 bg-blue-700 text-white">@Model.Holes.Where(h => h.Number <= 9 && h.TeeId == tee.Id).DistinctBy(h => h.Number).Select(h => h.Length).Sum()</th>
                        <th class="border border-slate-500 bg-blue-700 text-white">@Model.Holes.Where(h => h.Number > 9 && h.TeeId == tee.Id).DistinctBy(h => h.Number).Select(h => h.Length).Sum()</th>
                        <th class="border border-slate-500 bg-blue-700 text-white">@Model.Holes.Where(h => h.TeeId == tee.Id).DistinctBy(h => h.Number).Select(h => h.Length).Sum()</th>
                    }
                    else if (tee.Name == "White")
                    {
                        <th class="border border-slate-500">@Model.Holes.Where(h => h.Number <= 9 && h.TeeId == tee.Id).DistinctBy(h => h.Number).Select(h => h.Length).Sum()</th>
                        <th class="border border-slate-500">@Model.Holes.Where(h => h.Number > 9 && h.TeeId == tee.Id).DistinctBy(h => h.Number).Select(h => h.Length).Sum()</th>
                        <th class="border border-slate-500">@Model.Holes.Where(h => h.TeeId == tee.Id).DistinctBy(h => h.Number).Select(h => h.Length).Sum()</th>
                    }
                    else if (tee.Name == "Gold")
                    {
                        <th class="border border-slate-500 bg-yellow-500">@Model.Holes.Where(h => h.Number <= 9 && h.TeeId == tee.Id).DistinctBy(h => h.Number).Select(h => h.Length).Sum()</th>
                        <th class="border border-slate-500 bg-yellow-500">@Model.Holes.Where(h => h.Number > 9 && h.TeeId == tee.Id).DistinctBy(h => h.Number).Select(h => h.Length).Sum()</th>
                        <th class="border border-slate-500 bg-yellow-500">@Model.Holes.Where(h => h.TeeId == tee.Id).DistinctBy(h => h.Number).Select(h => h.Length).Sum()</th>
                    }
                </tr>
            }
            <tr>
                <th class="border border-slate-500 bg-green-700 text-white" colspan="3">Par</th>
                @foreach (var item in Model.Holes.DistinctBy(h => h.Number))
                {
                    <th class="border border-slate-500 text-white bg-green-700">@item.Par</th>
                }
                <th class="border border-slate-500 bg-green-700 text-white">@Model.Holes.Where(h => h.Number <= 9).DistinctBy(h => h.Number).Select(h => h.Par).Sum()</th>
                <th class="border border-slate-500 bg-green-700 text-white">@Model.Holes.Where(h => h.Number > 9).DistinctBy(h => h.Number).Select(h => h.Par).Sum()</th>
                <th class="border border-slate-500 bg-green-700 text-white">@Model.Holes.DistinctBy(h => h.Number).Select(h => h.Par).Sum()</th>
            </tr>
            <tr>
                <th class="border border-slate-500 bg-green-700 text-white" colspan="3">Hcp</th>
                @foreach (var item in Model.Holes.DistinctBy(h => h.Number))
                {
                    <th class="border border-slate-500 text-white bg-green-700">@item.Hcp18</th>
                }
                <th class="border border-slate-500 bg-green-700 text-white"></th>
                <th class="border border-slate-500 bg-green-700 text-white"></th>
                <th class="border border-slate-500 bg-green-700 text-white"></th>
            </tr>
        </thead>
        <tbody>
            @foreach(var golfer in Model.Players)
            {
                <tr>
                    <td class="">@golfer.FirstName</td>
                    <td class="">@golfer.CurrIndex</td>
                    <td class="">White</td>
                    <td class=" text-center border border-slate-200">4<sup>*</sup><sub>3</sub></td>
                    <td class=" text-center border-solid border-2 border-red-500">6<sup>*</sup><sub>5</sub></td>
                    <td class=" text-center border-solid border-2 border-blue-500 rounded-full">3</td>
                    <td class=" text-center border border-slate-200">5<sup>*</sup><sub>4</sub></td>
                    <td class=" text-center border-double border-4 border-red-500">5</td>
                    <td class=" text-center border border-slate-200">4</td>
                    <td class=" text-center border-double border-4 border-red-500">5<sup>*</sup><sub>4</sub></td>
                    <td class=" text-center border border-slate-200">5<sup>*</sup><sub>4</sub></td>
                    <td class=" text-center border-solid border-2 border-red-500">5<sup>*</sup><sub>4</sub></td>
                    
                    <td class=" text-center border border-slate-200">4</td>
                    <td class=" text-center border-double border-4 border-red-500">6<sup>*</sup><sub>5</sub></td>
                    <td class=" text-center border border-slate-200">4<sup>*</sup><sub>3</sub></td>
                    <td class=" text-center border-double border-4 border-red-500">5</td>
                    <td class=" text-center border-solid border-2 border-blue-500 rounded-ful">4<sup>*</sup><sub>3</sub></td>
                    <td class=" text-center border border-slate-200">4<sup>*</sup><sub>3</sub></td>
                    <td class=" text-center border-double border-4 border-red-500">5</td>
                    <td class=" text-center border border-slate-200">5<sup>*</sup><sub>4</sub></td>
                    <td class=" text-center border-solid border-2 border-red-500">5</td>

                    <td class=" text-center border border-slate-200">42<sub>36</sub></td>
                    <td class=" text-center border border-slate-200">42<sub>37</sub></td>
                    <td class=" text-center border border-slate-200">84<sub>73</sub></td>
                </tr>
            }
            @* <tr>
                <td class="">Ryan</td>
                <td class="">11.2</td>
                <td class="">White</td>
                <td class=" text-center border border-slate-200">4<sup>*</sup><sub>3</sub></td>
                <td class=" text-center border-solid border-2 border-red-500">6<sup>*</sup><sub>5</sub></td>
                <td class=" text-center border-solid border-2 border-blue-500 rounded-full">3</td>
                <td class=" text-center border border-slate-200">5<sup>*</sup><sub>4</sub></td>
                <td class=" text-center border-double border-4 border-red-500">5</td>
                <td class=" text-center border border-slate-200">4</td>
                <td class=" text-center border-double border-4 border-red-500">5<sup>*</sup><sub>4</sub></td>
                <td class=" text-center border border-slate-200">5<sup>*</sup><sub>4</sub></td>
                <td class=" text-center border-solid border-2 border-red-500">5<sup>*</sup><sub>4</sub></td>
                <td class=" text-center border border-slate-200">42<sub>36</sub></td>
                <td class=" text-center border border-slate-200">4</td>
                <td class=" text-center border-double border-4 border-red-500">6<sup>*</sup><sub>5</sub></td>
                <td class=" text-center border border-slate-200">4<sup>*</sup><sub>3</sub></td>
                <td class=" text-center border-double border-4 border-red-500">5</td>
                <td class=" text-center border-solid border-2 border-blue-500 rounded-ful">4<sup>*</sup><sub>3</sub></td>
                <td class=" text-center border border-slate-200">4<sup>*</sup><sub>3</sub></td>
                <td class=" text-center border-double border-4 border-red-500">5</td>
                <td class=" text-center border border-slate-200">5<sup>*</sup><sub>4</sub></td>
                <td class=" text-center border-solid border-2 border-red-500">5</td>
                <td class=" text-center border border-slate-200">42<sub>37</sub></td>
                <td class=" text-center border border-slate-200">84<sub>73</sub></td>
            </tr>
            <tr>
                <td class="">Sal</td>
                <td class="">5.5</td>
                <td class="">White</td>
                <td class=" text-center border border-slate-200">4</td>
                <td class=" text-center border-solid border-2 border-blue-500 rounded-full">4<sup>*</sup><sub>3</sub></td>
                <td class=" text-center border border-slate-200">4</td>
                <td class=" text-center border border-slate-200">4<sup>*</sup><sub>3</sub></td>
                <td class=" text-center border-solid border-2 border-red-500">4</td>
                <td class=" text-center border-solid border-2 border-blue-500 rounded-full">3</td>
                <td class=" text-center border border-slate-200">3</td>
                <td class=" text-center border-double border-4 border-blue-500">3</td>
                <td class=" text-center border-solid border-2 border-red-500">5<sup>*</sup><sub>4</sub></td>
                <td class=" text-center border border-slate-200">34<sub>31</sub></td>
                <td class=" text-center border border-slate-200">4</td>
                <td class=" text-center border border-slate-200">4</td>
                <td class=" text-center border border-slate-200">4</td>
                <td class=" text-center border-solid border-2 border-red-500">4</td>
                <td class=" text-center border-solid border-2 border-blue-500 rounded-full">4<sup>*</sup><sub>3</sub></td>
                <td class=" text-center border-solid border-2 border-blue-500 rounded-full">3</td>
                <td class=" text-center border border-slate-200">3</td>
                <td class=" text-center border border-slate-200">5<sup>*</sup><sub>4</sub></td>
                <td class=" text-center border border-slate-200">4</td>
                <td class=" text-center border border-slate-200">35<sub>33</sub></td>
                <td class=" text-center border border-slate-200">69<sub>64</sub></td>
            </tr>
            <tr>
                <td class="">Karl Sr.</td>
                <td class="">32.1</td>
                <td class="">Gold</td>
                <td class=" text-center border-double border-4 border-red-500">6<sup>**</sup><sub>4</sub></td>
                <td class=" text-center border-solid border-2 border-red-500">6<sup>**</sup><sub>4</sub></td>
                <td class=" text-center border-double border-4 border-red-500">7<sup>*</sup><sub>5</sub></td>
                <td class=" text-center border-double border-4 border-red-500">7<sup>**</sup><sub>5</sub></td>
                <td class=" text-center border-double border-4 border-red-500">5<sup>**</sup><sub>3</sub></td>
                <td class=" text-center border-solid border-2 border-red-500">5<sup>*</sup><sub>4</sub></td>
                <td class=" text-center border-double border-4 border-red-500">5<sup>**</sup><sub>3</sub></td>
                <td class=" text-center border-solid border-2 border-red-500">6<sup>**</sup><sub>4</sub></td>
                <td class=" text-center border-double border-4 border-red-500">6<sup>**</sup><sub>4</sub></td>
                <td class=" text-center border border-slate-200">53<sub>37</sub></td>
                <td class=" text-center border-double border-4 border-red-500">7<sup>**</sup><sub>5</sub></td>
                <td class=" text-center border-double border-4 border-red-500">6<sup>**</sup><sub>4</sub></td>
                <td class=" text-center border-double border-4 border-red-500">7<sup>**</sup><sub>5</sub></td>
                <td class=" text-center border-single border-2 border-red-500">4<sup>**</sup><sub>3</sub></td>
                <td class=" text-center border-double border-4 border-red-500">9<sup>**</sup><sub>7</sub></td>
                <td class=" text-center border-double border-4 border-red-500">7<sup>**</sup><sub>5</sub></td>
                <td class=" text-center border-single border-2 border-red-500">4<sup>*</sup><sub>3</sub></td>
                <td class=" text-center border-double border-4 border-red-500">9<sup>**</sup><sub>7</sub></td>
                <td class=" text-center border-double border-4 border-red-500">6<sup>*</sup><sub>4</sub></td>
                <td class=" text-center border border-slate-200">59<sub>43</sub></td>
                <td class=" text-center border border-slate-200">112<sub>80</sub></td>
            </tr> *@
        </tbody>
    </table>
</div>